html {
  background: rgb(36,37,39);
  /*background: linear-gradient(171deg, rgba(36,37,39,1) 0%, rgba(62,25,37,1) 100%);*/
  background: linear-gradient(to right top, #242527, #25242d, #2b222f, #351e2d, #3e1925);
  height: 100%;
}

/**
#242527:


#98ACCF
#6F7788
#3E1925
#704551

OR


#98ACCF
#6F7788
#704551



*/

body {
  /*background-color: #242527;*/
  
}

.App {
  text-align: center;
  max-width: 60%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[role=group]{
  display: inline-block;
}
